@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: "Overpass", sans-serif;
}

p {
  font-family: "Overpass", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
}

h1 {
  font-family: "Overpass", sans-serif;
  font-size: 50px;
  font-weight: 400;
}

h2 {
  font-family: "Overpass", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h3 {
  font-family: "Overpass", sans-serif;
  font-size: 20px;
  font-weight: 400;
}